package {$namespace};

use Moo;
use MooX::StrictConstructor;
use MooX::TypeTiny;

use Types::Common::Numeric qw( IntRange );
use Types::Common::String  qw( StrLength );
use Types::Standard        qw( Enum Int Str Undef );

use namespace::clean -except => [ qw( new ) ];

{
  foreach my $property ( sort keys %properties ) {
    $OUT .= "has $property => ( is => 'ro'";
    $OUT .= ', required => 1' if grep { $_ eq $property } @required;
    $OUT .= ', isa => ' . &isa( $properties{ $property } );
    $OUT .=  " );\n";
  }
}
1
